<h1>UPGRADE / DOWNGRADE MEMBERSHIPS</h1>
<small>You have the power.</small>
<br><br>
<table>
  <thead>
    <td>Name</td>
    <td>Current Status</td>
    <td>Update</td>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.role %></td>
        <% if user.standard? %>
          <td ><%= button_to "Upgrade", admins_upgrade_path, method: :get, params: {task: "upgrade", id: user}, class:"upgrade_button" %></td>
        <% else %>
          <td><%= button_to "Downgrade", admins_upgrade_path, method: :get, params: {task: "downgrade", id: user}, class:"downgrade_button" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>


</table>
