/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


*, *:before, *:after {
  box-sizing: border-box;
}

html,label,figure,figcaption,p,h1,h2,h3,h4,h5,span,li,ol,ul,table,tr,td,thead,nav,body,input{
  margin: 0;
  padding: 0;
  font-family: sans-serif, arial;
  color: #4343434;
}

li {
   list-style-type: none;
 }

 a {
   text-decoration: none;
   color: #444;
   font-weight: normal;
 }

 a:hover {
   color: #EA3C34;
 }

 table, tr, th, td {
   border-collapse: collapse;
   border: 1px solid gray;
   padding: 3px 5px;
   text-align: center;
 }

 td {
   text-align: left;
 }

 tfoot {
   background: rgba(240,152,63,0.8);
 }

 thead {
   background: lightblue;
 }

 #main_content {
   padding: 15px;
 }

 header {
   background: rgb(233,233,233);
   padding: 8px;
   margin-bottom: 10px;
 }

 header li {
   display: inline-block;
   margin-right: 2%;
 }

 header li a {
   color: #4F2077;
 }

 header li a:hover,
 header li a.selected {
   color: #EA3C34;
 }
